@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&family=Source+Code+Pro&display=swap');
@import 'normalize.css';

body {
    font-family: 'Source Serif Pro', serif;
    line-height: 168.1%;
    letter-spacing: 0.05rem;
    background-color: #c1dcbc;
    color: #532b64;
}

header {
    background-color: #532b64;
    color: #a090a7;
}

main {
    padding: 0 5vw;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Source Code Pro', monospace; 
   padding: 1.5rem 0 1rem 0;
   margin: 0;
}

h1 {
    padding: 1.618rem 5vw;
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

nav ul {
    list-style-type: none;

    margin: 0;
    padding: 0;

    background-color: #172131;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
}

nav a {
    display: block;
    padding: 0.809rem 5vw;
    color: #a090a7;
    text-align: center;
}

nav a:hover {
    background-color: #e1e9d8;
    color: #172131;
}

a {
    color: #172131;
}
